*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191c29;
 
}

.calculator-grid {
   
    display: grid;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(4rem, auto) repeat(5, 4rem);
    grid-template-areas: 
    "top top top top"
    "second second backspace backspace"
    "third      third      third   third"
    "fourth  fourth  fourth    fourth"
    "fifth      fifth       fifth   equality"
    "allClear bottom bottom equality";

    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2em;
    background-color: #191c29;
    color: aqua;
    border: blue 1px solid;
    font-family: 'Special Elite', cursive;
}

.calculator-grid > button:hover {
    background-color: rgb(75, 182, 253);
    color:rgb(12, 12, 148);
    font-size: 2.8em;
    transition-delay: 100ms;
    
}

#calculate {
    grid-area: equality;
    background-color: rgb(12, 50, 175);
 }

 #clearBtn {
    grid-area: allClear;
   
 }

 #backspace {
     grid-area: backspace;
 }

.answer {
    font-family:  'Special Elite', cursive;
    display: flex;
    height: 6em;
    align-items: flex-end;
    justify-content:space-between;
    word-wrap: break-word;
    word-break: break-all;
   
    flex-direction: column;
    grid-area: top;
    border: blue 1px solid;
    background-color:rgb(13, 102, 153, 0.60);
}

.answer .previous-displayed-num {
    color:rgb(187, 212, 216);
    display: flex;
    font-size: 1.1em;
    padding: 0.7em 0.5em 0.2em 0.2em;
    
}

.answer .current-displayed-num {
    color: white;
    display: flex;
    font-size: 2.3em;
    padding: 0.3em 0.25em 0.2em 0.2em;
    height: 65%;
}